.items a {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 91%;
    font-weight: 600;
    color: #ff904d;
  }
  
  ion-button{
    --ion-color-primary:#ff904d;
    width: 100%;
    height: 45px;
}