<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Solo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">solo-booking-page</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <div class="items">
        <ion-input
          label="Pickup:"
          name="pickUp"
          [(ngModel)]="pickUp"
        ></ion-input>

        <a class="ion-text-center" (click)="setCurrentLocation()" *ngIf="pickUp == ''">Set current location</a>
      </div>
    </ion-item>

    <ion-item>
      <div class="items">
        <ion-input
          label="Drop off:"
          name="dropOff"
          [(ngModel)]="dropOff"
        ></ion-input>
      </div>
    </ion-item>

    <ion-item lines="none">
      <ion-select
        aria-label="fruit"
        placeholder="Booking type"
        name="pickUp"
        [(ngModel)]="type"
      >
        <ion-select-option value="solo">Solo</ion-select-option>
        <ion-select-option value="shared" disabled="true"
          >Shared</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item lines="none">
      <ion-button expand="block" (click)="onClick()">Book now</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
