

ion-list{
    ion-list-header {
        ion-label{
    
            font-weight: 600;
        }
        
    }
    ion-item{
        .icon{
            padding: 5px;
            background: #e5e5e5;
            border-radius: 100%;
            width: 33px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: auto;
            margin-right: 16px;
            ion-icon{
                color: #909090;
                font-size: 22px;
            }
        }
    }
    
}
ion-row{
        ion-button{
            --ion-color-primary: #ff904d;
        }
}