

ion-list{
    ion-list-header {
        ion-label{
    
            font-weight: 600;
        }
        
    }
    ion-item{
        .icon{
            padding: 5px;
            background: #e5e5e5;
            border-radius: 100%;
            width: 33px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: auto;
            margin-right: 16px;
            ion-icon{
                color: #909090;
                font-size: 22px;
            }
        }
    }
    
}
ion-row{
    ion-button{
        --ion-color-primary:#ff904d;
        width: 90%;
        height: 30px;
    }
}


body [color-theme="dark"] {
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    } 

 
body [color-theme="light"] {    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
  }
