<ion-content [fullscreen]="true">
  <ion-row class="ion-padding-vertical ion-margin-vertical">
    <ion-col>
      <div class="title">
        <h3 class="ion-text-center"><span>Tara</span>'ySikel</h3>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-list lines="none" [formGroup]="loginForm">
        <ion-list-header class="ion-no-padding ion-margin-bottom">
          <div class="header-text ion-text-center">
            <h1 class="ion-no-margin">Create Account</h1>
            <small style="color: white">Already registered?</small>
            <br />
            <a (click)="navigate('/')">Login here</a>
          </div>
        </ion-list-header>

        <ion-item lines="none">
          <div class="input-container">
            <label for="">Phone number</label>
            <div class="input ion-padding-start">
              <ion-input
                formControlName="phoneNumber"
                type="text"
                class=""
                [clearInput]="true"
              >
              </ion-input>
            </div>
          </div>
        </ion-item>
        <ion-item lines="none" class="ion-margin-bottom">
          <div class="input-container">
            <label for="">Password</label>
            <div class="input ion-padding-start">
              <ion-input
                formControlName="password"
                type="password"
                [clearInput]="true"
              >
              </ion-input>
            </div>
          </div>
        </ion-item>

        <ion-item>
          <ion-button style="width: 100%" (click)="onClick()"
            >Sign up</ion-button
          >
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding-horizontal">
    <ion-col class="ion-text-center"
      ><small
        >By creating a profile, I agree to Tara'ysikel's
        <a href="">Terms and Conditions</a> and
        <a href="">Privacy Policy.</a></small
      ></ion-col
    >
  </ion-row>
</ion-content>
