ion-content{
    --background: #3f72af;
    .form{
    background-color: #3f72af;

    }
}


.input-container{
    width: 100%;

    label{
        color: white;
        font-size: 13px;
    }
    .input{
        background-color: #5c7ca2;
    
        border-radius: 10px;
        width: 100%;
        color: white;
    
        
    }
}


ion-checkbox{
        color: white;
        font-size:12px;
}

.header-text{
    width: 100%;
}

ion-button{
    height: 40px;
    text-transform: capitalize;
    --ion-color-primary: #ff904d;
}

ion-list{
    background: transparent;

    ion-item{
        --background: transparent;

    }
}
.header-text{
    h1{
        font-weight: 600;

    }

    a{
        color: #ff904d;
        text-decoration: none;
        font-weight: 600;
    }
}
.title{
    h3{
        text-transform: uppercase;
        font-weight: 600;
        span{
        color: #ff904d;

        }
    }
}

small{
    font-size: 10px;
    line-height: 2px;
    color: white;
}