<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="solo-booking-page"></ion-back-button>
    </ion-buttons>
    <ion-title>Confirmation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div #map id="map" ></div>

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label> Booking Location </ion-label>
      </ion-item-divider>

      <ion-item>
        <div class="item ion-padding-vertical">
          <ion-label>Pickup: <ion-icon name="location" style="color:rgb(194, 66, 66);" ></ion-icon></ion-label>
          <small>{{bookingObj.pickUp}}</small>
        </div>
      </ion-item>
      <ion-item>
        <div class="item ion-padding-vertical">
          <ion-label>Drop off: <ion-icon name="location" style="color:rgb(69, 130, 201);"></ion-icon></ion-label>
          <small *ngIf="getLocation">{{getLocation?.display_name.split(',').slice(0, -3).join(',')}}</small>
          <ion-skeleton-text
            *ngIf="!getLocation"
            [animated]="true"
            style="width: 100%"
          ></ion-skeleton-text>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>Distance: </ion-label>
        <small *ngIf="getLocation">{{getLocation?.distanceFromCurrent | number:'1.2-2' }} km</small>
        <ion-skeleton-text
          *ngIf="!getLocation"
          [animated]="true"
          style="width: 100%"
        ></ion-skeleton-text>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Estimated time:</ion-label>
        <small *ngIf="getLocation" >{{time}}</small>
        <ion-skeleton-text
          *ngIf="!getLocation"
          [animated]="true"
          style="width: 100%"
        ></ion-skeleton-text>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label> Pricing </ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>Price: </ion-label>
        <small *ngIf="getLocation">Php {{price}}</small>
        <ion-skeleton-text
          *ngIf="!getLocation"
          [animated]="true"
          style="width: 100%"
        ></ion-skeleton-text>
      </ion-item>
      <ion-item>
        <ion-label>Discount</ion-label>
        <small>None</small>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Total</ion-label>
        <small *ngIf="getLocation">Php {{price}}</small>
        <ion-skeleton-text
          *ngIf="!getLocation"
          [animated]="true"
          style="width: 100%"
        ></ion-skeleton-text>
      </ion-item>
    </ion-item-group>

    <ion-item lines="none">
      <ion-button style="width: 100%" (click)="addBooking()">Confirm Booking</ion-button>
    </ion-item>

  </ion-list>

  
</ion-content>